@import 'colors';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%; // 10px
}

body {
  font-family: 'Roboto', sans-serif;
  color: $black;
}

.main,
.footer {
  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__container {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.7rem 1rem;
  align-self: flex-end;
  border: none;
}
