@import '../../styles/responsive';
.header {
  &__container {
    width: 100%;
    margin: 4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: flex-end;

    &--state {
      img {
        margin-right: 1.2rem;
      }
    }

    @media (max-width: $mobileLarge) {
      flex-wrap: wrap;
    }

    &--ebac {
      @media (max-width: $mobileLarge) {
        flex-wrap: nowrap;
        margin-right: 4.5rem;
      }
    }
  }

  &__city {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.8rem;

    @media (max-width: $mobileLarge) {
      margin-top: 0.5rem;
    }
  }

  &__span {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-right: 1.2rem;
  }
}
